* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --primary: #81E6D9;
    --secondary: #FF63C3;
    --background: #202023;
    --header: #303033;
    --line: #525252;
}

body {
    background-color: var(--background);
    color: white;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 16px;
    width: 100%;
    height: 100vh;
}

/* NAVIGATION BAR */
a {
    color: white;
}

.header {
    background-color: var(--header);
    width: 100%;
}

.header ul {
    list-style: none;
    overflow: hidden;
}

.header ul a {
    display: inline-block;
    text-decoration: none;
    padding: 8px;
}

.header ul a:hover {
    text-decoration: underline;
}

.header .logo img {
    width: 30px;
    height: 25px;
    margin-top: 15px;
    margin-left: 15px;
    margin-right: auto;
}

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}

.header .menu-icon {
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon {
    background: white;
    display: block;
    height: 2px;
    width: 18px;
    position: relative;
    transition: background .2s ease-out;
}

.header .menu-icon .nav-icon::before {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: 5px;
}

.header .menu-icon .nav-icon::after {
    background: white;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    position: absolute;
    transition: all .2s ease-out;
    top: -5px;
}

.header .menu-btn {
    display: none;
}

/* TRANSITION BURGER MENU */

.header .menu-btn:checked~.menu {
    max-height: 240px;
}

.header .menu-btn:checked~.menu-icon .nav-icon {
    background: transparent;
}

.header .menu-btn:checked~.menu-icon .nav-icon::before {
    transform: rotate(-45deg);
    top: 0;
}

.header .menu-btn:checked~.menu-icon .nav-icon::after {
    transform: rotate(45deg);
    top: 0;
}

/* SECTIONS */
.wrapper {
    width: 100%;
    height: 100%;
}

.section {
    margin: 0 auto;
    padding: 0.9rem;
    max-width: 600px;
}

.section-info h3 {
    padding: 10px 0;
    font-weight: 16px;
    text-decoration: underline 4px grey;
}


/* rolling-cat */
.main{
    padding: 2rem 0;
    max-width: 150px;
    margin: 0 auto;
}

.main img{
    width: 100%;
    height: auto;
}

/* homepage-landing */
.homepage-design {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    gap: 1rem;
}

.homepage-design p{
    font-size: 15px;
    font-weight: bold;
}

.homepage-design img {
    max-width: 350px;
    width: 100%;
    height: auto
}

.landing-page{
    font-size: 13px;
    text-align: center;
}



/* footer-section*/
footer p {
    text-align: center;
    font-size: 13px;
    opacity: 0.7;
    margin-top: 20px;
    height: 50px;
}



/* MEDIA QUERY */

/* NAVIGATION BAR */

/* this size is for ipad resolution 
   above 768px
*/
@media (min-width: 768px) {
    .header {
        display: flex;
        justify-content: center;
        position: fixed;
        z-index: 100;
        background: #20202385;
        backdrop-filter: blur(10px);
    }

    .main img{
        margin-top: 10vh;
    }

    .header .logo {
        font-size: 12px;
        display: flex;
        align-items: center;
    }

    .header .logo img {
        width: 30px;
        height: 25px;
        margin-top: 1px;
        margin-left: 15px;
        margin-right: auto;
    }

    .header li {
        float: left;
    }

    .header li a {
        padding: 20px 30px;
    }

    .header .menu {
        clear: none;
        float: right;
        max-height: none;
    }

    .header .menu-icon {
        display: none;
    }

    .homepage-design {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
        gap: 1rem;
    }

    .homepage-design img {
        width: 100%;
        height: auto;
    }

    .landing-page p {
        text-align: center;
    }

}